body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section img {
    width: 100%;
    height: 650px;
    background: #dcdcdcb8;
    padding: 20px;
    border-radius: 10px;
}

#calculate-container {
    background: #F8F8F8;
    width: 500px;
    height: 650px;
    padding: 20px;
    margin-left: 50px;
    border-radius: 10px;
}

h3,
h1 {
    text-align: center;
}


.table-box {
    display: flex;
    justify-content: center;
}

.calculate-btn {
    text-align: center;
    margin-top: 15px;

}

button {
    background: #59A5FF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    padding: 8px 15px;
    cursor: pointer;
}

input {
    border: none;
    background: #DCDCDC;
    border-radius: 2px;
    padding: 8px;
}

table {
    border-spacing: 15px;
}